ul > :last-child {
    margin-top: auto;
  }
.bottom { 
    position:fixed;                  
    bottom:0;   
    width: 100%;
    overflow: hidden;                                           
} 
.carousel .carousel-item{
  width:100%;
}