ul > :last-child {
    margin-top: auto;
  }
.bottom { 
    position:absolute;                  
    bottom:0;   
    width: 100%                                             
} 
.carousel .carousel-item{
  width:100%;
}