<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link href="css/materialize.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<main>
    <div ng-controller='myAppCtrl'>
        <div ng-view></div>
        <div class="row bottom">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="" ng-click="change('#!/upload')"><i
                                class="material-icons">add</i></a>
                    </li>
                    <li class="tab col s3"><a href="" ng-click="change('#!/swipe')" class="active"><i
                                class="material-icons">sentiment_very_satisfied
                            </i></a></li>
                    <li class="tab col s3"><a href="" ng-click="change('#!/chat')"><i
                                class="material-icons">chat</i></a></li>
                    <li class="tab col s3"><a href="" ng-click="change('#!/profile');signOut()"><i
                                class="material-icons">person</i></a></li>
                </ul>
            </div>
        </div>
    </div>

</main>
<footer>

</footer>
<script src="lib/jquery-3.1.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="lib/angular.js"></script>
<script src="lib/angular-route.js"></script>
<script src="lib/materialize.js"></script>
<script src="lib/aws-cognito-sdk.min.js"></script>
<script src="lib/amazon-cognito-identity.min.js"></script>
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/tabs.js"></script>
<script src="js/login.js"></script>
<script src="js/register.js"></script>
<script src="js/upload.js"></script>
<script src="js/swipe.js"></script>
<script src="js/profile.js"></script>
<script src="js/chat.js"></script>
<script src="js/verify.js"></script>
<script src="https://cdn.pubnub.com/pubnub-3.7.21.js"></script>
<script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.js"></script>

</html>