<?xml version="1.0" encoding="utf-8" ?>
<html>
<div ng-controller='LoginCtrl'>
    <div class="row"></div>
    <div class="row">
        <div class="col s8 offset-s2">
            <form name="signInForm">
                <input name="email" type="email" placeholder="Email" ng-model="email" required>
                <input name="pswd" type="password" placeholder="Password" ng-model="pswd" required>
                <div style="text-align: center">
                    <a class="btn waves-effect waves-light white-text" ng-click="handleSignin()"
                        ng-disabled="signInForm.email.$dirty && signInForm.email.$invalid || signInForm.pswd.$dirty && signInForm.pswd.$invalid || signInForm.$invalid">Log
                        in</a>
                </div>
                <div style="text-align: center">
                    <a href="#!/register"> Don't have an account?</a>
                </div>
            </form>
        </div>
    </div>
</div>
</html>