<?xml version="1.0" encoding="utf-8" ?>
<html>
<div ng-controller='ProfileCtrl'>
    <div class="row">
        <div class="col s8 offset-s2">
            <a class='dropdown-trigger btn' data-target='dropdown1'>Drop Me!</a>
            <img src="../images/{{user.Pic}}" alt="" class="avatar-big" style="display: inline-block">
            <h4>Username</h4>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#!">three</a></li>
                <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
            </ul>
            <input type="text" value="Email">
            <input type="text" value="Age">
            <input type="text" value="Bio">
        </div>
    </div>
</div>

</html>
</div>