<?xml version="1.0" encoding="utf-8" ?>
<html>
  
 
<div ng-controller='ProfileCtrl'>
        <img src="smiley.gif" alt="Smiley face" align="left> 
    <div class="row">
    
            <center>
                <h1>NAME</h1>
                <input type="text" value="Username" class="field center" readonly>
                <input type="text" value="Birthdate" class="field center" readonly>
                <br>
                <br>
                <br>
            <p class="title" >Bio</p>
           </center> 
            <textarea name="textarea" rows="10" cols="50" readonly></textarea>
            
            
    </div>
    <div class="row">
            
        <div class="col s8 offset-s2">

        </div>
    </div>

</div>

</html>