<?xml version="1.0" encoding="utf-8" ?>
<html>
<div ng-controller='RegisterCtrl'>
    <div class="row"></div>
    <div class="row">
        <div class="col s8 offset-s2">
            <form name="registerForm">
                <h1 style="color: rgba(238, 110, 115, 0.7);" align="center">MEMA</h1>
                <input type="email" placeholder="Email" name="email" ng-model="email" required>
                <input type="password" placeholder="Password" ng-model="pswd" name="pswd" required>
                <input type="password" placeholder="Confirm Password" ng-model="pswd2" name="pswd2" required>
                <div class="row">
                    <div class="col s6">
                        <input type="text" placeholder="Username" ng-model="user" name="user" required>
                    </div>
                    <div class="col s6">
                        <input type="number" placeholder="Edad" ng-model="age" name="age" pattern="^[0-9.]*$" required>
                    </div>
                </div>
                <div style="text-align: center">
                    <a class="btn waves-effect waves-light red lighten-2 white-text" ng-click="handleRegister()"
                        ng-disabled="registerForm.age.$dirty && registerForm.age.$invalid || registerForm.user.$dirty && registerForm.user.$invalid || registerForm.email.$dirty && registerForm.email.$invalid || registerForm.pswd.$dirty && registerForm.pswd.$invalid || registerForm.pswd2.$dirty && registerForm.pswd2.$invalid
                        || registerForm.$invalid">Register</a> </div>
            </form>
            <div style="text-align: center">
                <a href="#!/login"> Already Have an Account?</a>
            </div>

        </div>
    </div>

</div>

</html>