<?xml version="1.0" encoding="utf-8" ?>
<html>
<div ng-controller='SwipeCtrl'>

    <body>
        <div class="container">
            <div class="row">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <div class="square">
                    <div class="col s6 push-s1 center-align">
                        <img class="img-center" width="225" height="300" src="../pics/{{currentimage}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <div class="col s6 push-s1">
                        <button class="waves-effect waves-light red btn-large">-</button>
                    </div>
                    <div class="col s6 pull-s1">
                        <button class="waves-effect waves-light green btn-large">+</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>

</html>