<?xml version="1.0" encoding="utf-8" ?>
<html>
<div ng-controller='UploadCtrl'>
    <div class="container">
        <div class="col s6">
            <br>
            <div class="row">
                <div class="col s8 offset-s2">
                    <input id="meme" type="file" class="filepond" name="filepond"
                        accept="image/png, image/jpeg, image/gif">
                </div>
            </div>
            <form name="uploadForm">
                <div class="row">
                    <div class="col s8 offset-s2">
                        <div class="input-field col s4">
                            <select id="tag1" name="tag1" class="icons" required>
                                <option value="" disabled selected>Tags</option>
                                <option value="edgy">Edgy</option>
                                <option value="spicy">Spicy</option>
                                <option value="dank">Dank</option>
                                <option value="goofy">Goofy</option>
                                <option value="wholesome">Wholesome</option>
                                <option value="mx">Mx</option>
                                <option value="pepe">Pepe</option>
                                <option value="mcu">MCU</option>
                                <option value="computer">Computer</option>
                                <option value="offensive">Offensive</option>
                                <option value="cringy">Cringy</option>
                                <option value="russian">Russian</option>
                                <option value="weird">Weird</option>
                                <option value="4chan">4chan</option>
                                <option value="cancer">Cancer</option>
                                <option value="shitpost">Shitpost</option>
                                <option value="wave">VWave</option>
                                <option value="kpop">Kpop</option>
                                <option value="minecraf">Minecraft</option>
                            </select>
                        </div>
                        <div class="input-field col s4">
                            <select id="tag2" name="tag2" class="icons" required>
                                <option value="" disabled selected>Tags</option>
                                <option value="edgy">Edgy</option>
                                <option value="spicy">Spicy</option>
                                <option value="dank">Dank</option>
                                <option value="goofy">Goofy</option>
                                <option value="wholesome">Wholesome</option>
                                <option value="mx">Mx</option>
                                <option value="pepe">Pepe</option>
                                <option value="mcu">MCU</option>
                                <option value="computer">Computer</option>
                                <option value="offensive">Offensive</option>
                                <option value="cringy">Cringy</option>
                                <option value="russian">Russian</option>
                                <option value="weird">Weird</option>
                                <option value="4chan">4chan</option>
                                <option value="cancer">Cancer</option>
                                <option value="shitpost">Shitpost</option>
                                <option value="wave">VWave</option>
                                <option value="kpop">Kpop</option>
                                <option value="minecraf">Minecraft</option>
                            </select>
                        </div>
                        <div class="input-field col s4">
                            <select id="tag3" name="tag3" class="icons" required>
                                <option value="" disabled selected>Tags</option>
                                <option value="edgy">Edgy</option>
                                <option value="spicy">Spicy</option>
                                <option value="dank">Dank</option>
                                <option value="goofy">Goofy</option>
                                <option value="wholesome">Wholesome</option>
                                <option value="mx">Mx</option>
                                <option value="pepe">Pepe</option>
                                <option value="mcu">MCU</option>
                                <option value="computer">Computer</option>
                                <option value="offensive">Offensive</option>
                                <option value="cringy">Cringy</option>
                                <option value="russian">Russian</option>
                                <option value="weird">Weird</option>
                                <option value="4chan">4chan</option>
                                <option value="cancer">Cancer</option>
                                <option value="shitpost">Shitpost</option>
                                <option value="wave">VWave</option>
                                <option value="kpop">Kpop</option>
                                <option value="minecraf">Minecraft</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div style="text-align: center">
                <a class="btn waves-effect waves-light white-text" ng-click="upload()" ng-disabled="up"
                    name="upload">arrow_upward</i></a>
            </div>
        </div>
    </div>
</div>

</html>